body,
html {
	margin: 0;
	padding: 0;
	font-family: "Roboto Mono", monospace, sans-serif;
	height: 100%;
	overflow: hidden;
}

.dashboard {
	display: grid;
	grid-template-columns: 1fr 2fr;
	height: 100vh;
}
